{erl_opts, [debug_info]}.
{deps, [
    {cowboy, "2.9.0"},
    {jsx, "3.1.0"},
    {eqwalizer_support,
    {git_subdir,
        "https://github.com/whatsapp/eqwalizer.git",
        {branch, "main"},
        "eqwalizer_support"}}
]}.

{shell, [
    %% {config, "config/sys.config"},
    {apps, [simple_server]}
]}.

{relx, [{release, {simple_server, "1.0"},
    [simple_server]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}]}.